{% extends "base.html" %}
{% block content %}
<body>
	
	<h1>Account Page</h1>
	{% for account in results %}
	{% set account = account['user'] %}
	
	<div class="split">
			<div class="header">
				<h2>{{ account.firstName }} {{account.lastName}} </h2>
			</div>

			<div class="image">
				<img src="{{ url_for('static', filename='images/user_images/accountImg_'+  account.userName +'.jpg') }}" alt="User Image" class="user-image">
    		</div>

			<div class="text">
				<p>
				<b>userName: </b>{{account.userName}}<br>
				<b>email: </b>{{account.email}} <br>
				<b>Phone Number: </b>{{ account.phoneNumber}}<br>
				</p>
			</div>

			<div class="options">
				<a href="/edit/accounts/{{account.id}}" class="btn btn-secondary">Edit Profile</a>
			</div>
	</div>

	{% endfor %}
</body>
{% endblock %}