{% extends "base.html" %}
{% block content %}
<body>
	<h1>{{title}}</h1>

	<div class="split">

		<div class="header">
			<h2>{{ curr_animal.name }}</h2>
		</div>


	<!-- Slideshow made with help from https://www.w3schools.com/howto/howto_js_slideshow.asp -->
		<div class = "image">
			
			{% include "slideshow.html" %}
			
		</div> <!-- img end -->


		<div class="text">
			<p>
			<span class="important">Availability:</span> {{curr_animal.availability}}<br><br>
			<span class="important">id:</span> {{curr_animal.id}}<br>
			<span class="important">Name:</span> {{curr_animal.name}}<br>

			{% if curr_animal.birthday == None %}
			{% set birthday = "Unknown" %}
			{% else %}
			{% set birthday = curr_animal.birthday %}
			{% endif %}

			<span class="important">Birthday:</span> {{birthday}}<br>
			<span class="important">Type:</span> {{curr_animal.type}}<br>
			<span class="important">Breed:</span> {{curr_animal.breed}}<br><br>

			<span class="important">Good with:</span><br>
			<span class="important">Children:</span> {{curr_animal.children}}<br>
			<span class="important">Dogs:</span> {{curr_animal.dogs}}<br>
			<span class="important">Cats:</span> {{curr_animal.cats}}<br><br>
			<span class="important">Must be leashed at all times:</span> {{curr_animal.needsLeash}}<br><br>

			<span class="important">Description:</span><br>
			{{curr_animal.description}}
			</p>
		</div>


		<div class="options">
			{% if current_user.admin %} <!-- placeholder for admin restriction -->
			<form id="animalOptions" action="/animals/{{curr_animal.id}}" method="POST" enctype="multipart/form-data">
				{{ form.hidden_tag() }}
				<input type="hidden" name="_method" value="DELETE">
				{{ form.delete(value="Delete Animal", onclick="return confirmDeletion('animal')", class="btn btn-secondary") }}
				<a href="/edit/animals/{{curr_animal.id}}" class="btn btn-secondary">Edit Animal</a>
				<a href="/newsPosts?idAnimal={{curr_animal.id}}" class="btn btn-secondary">Make News Post</a>
			{% endif %}
			</form>
		</div>

</body>

<script>
	let slideIndex = 1;
	showSlides(slideIndex);
</script>

{% endblock %}