<!doctype html>
<!--
This is a container for website content. Anything you want to be on every page
like the navigation bar goes here.
The content of other pages is inserted into block content.
-->
<head>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    {% if title != None %}
    <title>{{title}}</title>
    {% else %}
    <title>Title Placeholder</title>
    {% endif %}
</head>

<body>
        <!-- Navigation Header -->
    <header class="navbar">
        <div class="container">
            <div class="nav-brand">
                <h1>Animal Adoption Dating Site</h1>
            </div>
            <nav class="nav-menu">
                <!-- TODO: Replace these hrefs with actual login and create account page URLs -->
                <a href="/login" class="btn btn-secondary">Log In</a>
                <a href="/accounts" class="btn btn-primary">Create Account</a>
            </nav>
        </div>
    </header>

    <nav class="nav-site">
        <a href="/" >Home</a>
        <a href="/" >Browse</a>
    </nav>   

    <main>
        {% block content %}{% endblock %}
    </main>
</body>
</html>