{% extends "base.html" %}
{% block content %}
<body>
	<h2>Create Animal</h2>
	<form method="POST" action="" enctype="multipart/form-data">
    {{ form.hidden_tag() }} <!-- add CRSF token -->

    <div class="split">

		<div class="header">
		<p>
            {{ form.availability.label }}<br> 
            {{ form.availability }}
			{% for error in form.availability.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
		<p>
            {{ form.name.label }}<br> <!-- form field legend, input field -->
            {{ form.name(size=45) }}
			{% for error in form.name.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
		<p>
            {{ form.birthday.label }}<br>
            {{ form.birthday() }}
			{% for error in form.birthday.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
		<p>
            {{ form.type.label }}<br> 
            {{ form.type }}
			{% for error in form.type.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>


        <p>
            {{ form.breedDog.label }}<br>
            {{ form.breedDog }}
			{% for error in form.breedDog.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.breedCat }}
			{% for error in form.breedCat.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.breedOther }}
			{% for error in form.breedOther.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        
		<p>
            {{ form.description.label }}<br>
            {{ form.description() }}
			{% for error in form.description.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        </div>

        <div class="text">
		<legend>Disposition</legend>
		<p>
            {{ form.children.label }}<br>
            {{ form.children() }}
			{% for error in form.children.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
		<p>
            {{ form.dogs.label }}<br>
            {{ form.dogs() }}
			{% for error in form.dogs.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
		<p>
            {{ form.cats.label }}<br>
            {{ form.cats(size=45) }}
			{% for error in form.cats.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.needsLeash.label }}<br>
            {{ form.needsLeash(size=45) }}
			{% for error in form.needsLeash.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        </div>

        <div class="image">
		<p>
            {{ form.images.label }}<br>
            {{ form.images() }}
			{% for error in form.images.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        </div>

			<div class="options">
                <p>
                    {{ form.submit(class="btn btn-secondary") }} 
                </p>
			</div>

	</div>
	</form>
</body>

<script>
    function breedDisplay() {
        let selectedType = document.getElementById("type").value;
        let typeChoices = {{ form.type.choices|safe }};

        for (let i = 0; i < typeChoices.length; i++) {
            animalType = typeChoices[i];
            if (selectedType == animalType) {
               document.getElementById(`breed${animalType}`).style.display = "initial";
            }
            else {
              document.getElementById(`breed${animalType}`).style.display = "none";
            }
        }
    }
    breedDisplay()
</script>
{% endblock %}