{% extends "base.html" %}
{% block content %}
<body>
	
	<h1>Account Page</h1>
	{% for account in results %}
	{% set account = account['publicAccount'] %}

    <form method="POST" action="/accounts/1" enctype="multipart/form-data">
    <input type="hidden" name="_method" value="PUT">
	
	<div class="split">
			<div class="header">
				<p>
                {{ form.firstName.label }}: <!-- form field legend, input field -->
                {{ form.firstName(size=20, placeholder=account.firstName) }}
                {% for error in form.firstName.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
                {{ form.lastName.label }}: <!-- form field legend, input field -->
                {{ form.lastName(size=20, placeholder=account.lastName) }}
                {% for error in form.lastName.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
             </p>
			</div>

			<div class="image">
                <p>
                    <img src="{{ url_for('static', filename='images/user_images/'+ account.lastName+account.firstName +'.png') }}" alt="User Image" class="user-image">
                    <br>
                    {{ form.images.label}}
                    {{ form.images() }}
                    {% for error in form.images.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </p>
    		</div>

			<div class="text">
                <p>
                {{ form.email.label }}: <!-- form field legend, input field -->
                {{ form.email(size=20, placeholder=account.email) }}
                {% for error in form.firstName.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
                <br>
                <br>
                {{ form.phoneNumber.label }}: <!-- form field legend, input field -->
                {{ form.phoneNumber(size=20, placeholder=account.phoneNumber) }}
                {% for error in form.phoneNumber.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
             </p>
			</div>

			<div class="options">
                <p>
                    {{ form.submit(class="btn btn-secondary") }}
                    
                </p>
			</div>
	</div>
    </form>

	{% endfor %}
</body>
{% endblock %}