{% extends "base.html" %}
{% block content %}
<body>
	
	<h1>Account Page</h1>
	{% for account in results %}
	{% set account = account['publicAccount'] %}

    <form>
	
	<div class="split">
			<div class="header">
				<h2>First Name:<input type="text" id="fname" name="fname" placeholder="{{account.firstName}}">Last Name: <input type="text" id="lname" name="lname" placeholder="{{account.lastName}}"></h2>
			</div>

			<div class="image">
				<img src="{{ url_for('static', filename='images/user_images/'+ account.lastName+account.firstName +'.png') }}" alt="User Image" class="user-image">
    		</div>


			<div class="text">
				<p>
				email: <input type="text" id="email" name ="email" placeholder="{{account.email}}"><br>
				Phone Number: <input type="text" id="phoneNumber" name ="phoneNumber" placeholder="{{account.phoneNumber}}"><br>
				</p>
			</div>

			<div class="options">
                <a href="/login" class="btn btn-secondary">Save Profile</a>
				<a href="/login" class="btn btn-secondary">Cancel</a>
			</div>
	</div>
    </form>

	{% endfor %}
</body>
{% endblock %}